.mobile-nav {
    display: block;
    position: absolute;
    right: 30px;
    top: 35px;
    z-index: 100;
    #menuToggle {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        z-index: 101;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle input.menuToggle {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 101; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }
    // HAMBURGER
    #menuToggle span {
        display: block;
        width: 33px;
        height: 2px;
        margin-bottom: 8px;
        position: relative;
        background: $white;
        border-radius: 3px;
        z-index: 100;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }
    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
  
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    // ANIMATE HAMBURGER X ON
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, 1px);
        background: $white;
    }
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    // ANIMATE HAMBURGER X ON
    #menuToggle input:checked ~ span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
    }
    #menuToggle input:checked ~ div.links {
        transform: scale(1.0, 1.0);
        opacity: 1;
    }
    .links {
        position: fixed;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.95);
        transform-origin: 0% 0%;
        transform: translate(100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        height: 100vh;
        width: 100%;
        z-index: 99;
        ul.menu {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            /* align-content: center; */
            flex-direction: column;
            justify-content: space-evenly;
            height: 40%;
            width: 100%;
            li {
                list-style: none;
                margin: 0;
                padding: 0;
            }
        }
        a {
            color: $white;
            font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 400;
            font-size: 2.4em;
        }
    }
}