body {
    font-size: 10px;
    line-height: 1.7;
    color: $black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
    color: $med-gray;
    font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 5em;
    font-weight: 400;
    text-transform: uppercase;
    @media ($bp-tablet) {
        font-size: 8em;
    }
}
h2 {
    color: $med-gray;
    font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.6em;
    @media ($bp-tablet) {
        font-size: 3.6em;
    }
}
h3 {
    color: $med-gray;
    font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.4em;
    text-transform: uppercase;
}
h4 {
    color: $med-gray;
    font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 2.4em;
}
h5 {
    color: $med-gray;
    font-size: 1.6em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
p {
    font-size: 1.6em;
    font-family: 'Open Sans', sans-serif;
}
a {
    color: $red;
    text-decoration: none;
}
pre {
    background: $light-gray;
    margin: 1rem 0;
    border-radius: 2px;
}