.content-block {
    padding: 0;
    &.work-list {
        margin: 100px auto;
        max-width: 1050px;
        width: 100%;
        h2 {
            color: $dark-gray;
            margin: 0 0 60px 0;
            line-height: 1em;
        }
        > ul {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 30px;
            row-gap: 25px;
        }
    }
}