* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: $white;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 100;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 auto;
        max-width: 1140px;
        height: 60px;
        .main-nav {
            display: none;
        }
        .logo {
            position: absolute;
            top: 30px;
            left: 25px;
        }
    }
}

.content-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
    h1 {
        color: $dark-gray;
        margin: 20px 0;
    }
    &.centered {
        margin: 100px auto;
        max-width: 700px;
        text-align: center;
        width: 100%;
        p {
            margin: 0;
        }
    }
    &.centered-sub {
        margin-top: 0 auto;
        max-width: 700px;
        text-align: center;
        width: 100%;
        p {
            margin: 0;
        }
    }
    &.icon-list {
        margin: 0 auto;
        max-width: 900px;
        width: 100%;
        h2 {
            color: $dark-gray;
            margin: 0 0 60px 0;
            line-height: 1em;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            width: 200px;
        }
        .item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            h3 {
                margin-left: 20px;
                text-transform: uppercase;
            }
        }
    }
    &.work-list {
        margin: 40px auto;
        max-width: 1050px;
        width: 100%;
        h2 {
            color: $dark-gray;
            margin: 0 0 60px 0;
            line-height: 1em;
        }
        > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 30px;
            row-gap: 25px;
        }
        .item {
            cursor: pointer;
            object-fit: contain;
            position: relative;
            width: 100%;
            ul {
                position: absolute;
                top: 20px;
                left: 20px;
                list-style: none;
                margin: 0;
                padding: 0;
                height: 85%;
                h4,
                h5 {
                    color: $white;
                    margin: 0;
                    line-height: 1.2em;
                }
                li:nth-child(3) {
                    bottom: 0;
                    position: absolute;
                }
            }
            img {
                width: 100%;
            }
        }
    }
    &.blog-list {
        margin: 0 auto;
        max-width: 900px;
        width: 100%;
    }
    &.default {
        margin: 0 auto;
        max-width: 1050px;
        width: 100%;
        .content-block {
            padding: 0;
        }
    }
    .circle-photo {
        border-radius: 50%;
        max-width: 300px;
        margin-bottom: 40px;
        overflow: hidden;
        width: 100%;
    }
    &.general {
        align-items: flex-start;
        &.bio {
            margin-bottom: 40px;
            max-width: unset;
            width: 100%;
        }
    }
    .project-id-grid {
        > ul {
            list-style: none;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 30px;
            row-gap: 25px;
            .heading {
                color: $dark-gray;
                font-size: 1.6em;
                margin: 0;
            }
            .heading:after {
                content: "";
                display: block;
                background-color: $dark-gray;
                margin: 10px 0;
                height: 2px;
                width: 10px;
            }
            .content {
                font-size: 1.2em;
                margin: 0 0 20px 0;
                max-width: 50%;
            }
        }
    }
    .backgrounds-grid {
        > ul {
            list-style: none;
            margin: 0 0 20px 0;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr;
            column-gap: 30px;
            row-gap: 25px;
            a {
                font-size: 1.4em;
            }
            .small {
                font-size: 1.2em;
            }
        }
        .item {
            width: 100%;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                .bg-image {
                    margin-bottom: 10px;
                }
            }
            img {
                width: 100%;
                &.icon {
                    margin-right: 3px;
                    margin-bottom: -1px;
                    width: 15px;
                    height: 15px;
                }
            }
        }
        .item:after {
            content: "";
            display: block;
            background-color: $med-gray;
            margin: 10px 0;
            height: 1px;
            width: 100%;
        }
    }
}

.cta-banner  {
    background-image: url('/user/themes/blog-folio-2021/images/topo_banner.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
    height: 200px;
    width: 100%;
    h2 {
        color: $white;
        background-color: rgba(235, 207, 207, 0.90);
        text-align: center;
        text-transform: uppercase;
        width: 230px;
    }
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 320px;
        width: 100%;
    }
}

.footer {
    color: $med-gray;
    font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.6em;
    border-top: 1px solid $light-gray;
    margin-top: 40px;
    padding: 0 20px;
    height: 100px;
    width: 100%;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin: 0 auto;
        max-width: 1050px;
        height: 100%;
        a {
            color: $med-gray;
        }
    }
}

.copyright {
    color: $med-gray;
}