.header {
    .wrapper {
        .main-nav {
            display: block;
            max-width: 425px;
            width: 100%;
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    a {
                        color: $white;
                        font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
                        font-size: 2em;
                        text-transform: uppercase;
                    }
                    &.selected:after {
                        display: block;
                        content: '';
                        background-color: $red;
                        margin: 0 auto;
                        height: 2px;
                        width: 100%;
                    }
                }
            }
        }

        .logo {
            cursor: pointer;
            position: absolute;
            top: 20px;
            left: 20px;
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
            filter: $dark-gray; /* IE6-9 */
            -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
            transition: all 300ms;
        }
        .logo:hover {
            filter: none;
            -webkit-filter: grayscale(0%);
        }
    }
}

.blog-header {
    height: 200px;
}

.content-block {
    h1 {
        margin: 40px 0;
    }
    &.icon-list {
        ul {
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
        }
        .item {
            flex-direction: column;
            margin-bottom: 0;
            h3 {
                margin-left: 0;
            }
        }
    }
    &.work-list {
        margin: 100px auto;
        max-width: 1050px;
        width: 100%;
        h2 {
            color: $dark-gray;
            margin: 0 0 60px 0;
            line-height: 1em;
        }
        > ul {
            grid-template-columns: 1fr 1fr;
            column-gap: 30px;
            row-gap: 25px;
        }
        .item {
            filter: none;
            -webkit-filter: grayscale(0%);
            margin-top: 0;
            transition: all 300ms;
        }
        .item:hover {
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
            filter: $dark-gray; /* IE6-9 */
            -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
            margin-top: -4px;
        }
    }
    .circle-photo {
        max-width: 400px;
    }
    &.general {
        &.half-width {
            margin-bottom: 60px;
            max-width: 900px;
            width: unset;
        }
    }
    .project-id-grid {
        > ul {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 30px;
            row-gap: 25px;
            .heading:after {
                margin: 20px 0;
            }
            .content {
                margin: 0 0 40px 0;
                max-width: 75%;
            }
        }
    }
    .backgrounds-grid {
        > ul {
            margin: 0 0 40px 0;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 30px;
            row-gap: 25px;
        }
        .item:after {
            display: none;
        }
    }
}

.cta-banner  {
    h2 {
        transition: all 300ms;
    }
    h2:hover  {
        background-color: $red;
    }
}

.social-links {
    ul {
        li {
            opacity: 1;
            transition: all 300ms;
        }
        li:hover {
            opacity: 0.7;
        }
    }
}

.footer {
    margin-top: 100px;
}