{% extends 'partials/base.html.twig' %}

{% block content %}
    <div class="hero-block sub"></div>
    <div class="content-block default">
        <h1>{{ page.title }}</h1>
        {{ page.content|raw }}
    </div>
{% endblock %}