{% embed 'partials/base.html.twig' %}
{% set blog_image = page.media.images|first %}

	{% block content %}
		<div class="hero-block sub"></div>
		<div class="blog-post">
			<div class="blog-post--header-image">
				{{ blog_image }}
			</div>
			<div class="blog-post--content-wrapper">
				<section class="blog-post--header-info-wrapper">
					<div class="header-info">
						<h1>{{ page.title }}</h1>
						<span class="list-blog-date">
							<time class="dt-published" datetime="{{ page.date|date("c") }}">
								<span>Published on </span>
								<span>{{ page.date|date("d") }}</span>
								<span>{{ page.date|date("M") }}</span>
								<span>{{ page.date|date("Y") }}</span>
							</time>
						</span>
						{% if page.taxonomy.tag %}
							<span class="tags">
								{% for tag in page.taxonomy.tag %}
								<a href="/blog/tag{{ config.system.param_sep }}{{ tag }}" class="p-category">{{ tag }}</a>
								{% endfor %}
							</span>
						{% endif %}
					</div>
				</section>
				<section class="blog-post---content">
					{{ page.content|raw }}
				</section>
			</div>
		</div>
	{% endblock %}

{% endembed %}