body {
  font-size: 10px;
  line-height: 1.7;
  color: #070707;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  color: #A6A6A6;
  font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 5em;
  font-weight: 400;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    h1 {
      font-size: 8em; } }

h2 {
  color: #A6A6A6;
  font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 2.6em; }
  @media (min-width: 768px) {
    h2 {
      font-size: 3.6em; } }

h3 {
  color: #A6A6A6;
  font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 2.4em;
  text-transform: uppercase; }

h4 {
  color: #A6A6A6;
  font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 2.4em; }

h5 {
  color: #A6A6A6;
  font-size: 1.6em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

p {
  font-size: 1.6em;
  font-family: 'Open Sans', sans-serif; }

a {
  color: #C64848;
  text-decoration: none; }

pre {
  background: #E5E5E5;
  margin: 1rem 0;
  border-radius: 2px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #FFFFFF; }

.header {
  position: absolute;
  width: 100%;
  z-index: 100; }
  .header .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 1140px;
    height: 60px; }
    .header .wrapper .main-nav {
      display: none; }
    .header .wrapper .logo {
      position: absolute;
      top: 30px;
      left: 25px; }

.content-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px; }
  .content-block h1 {
    color: #5F5F5F;
    margin: 20px 0; }
  .content-block.centered {
    margin: 100px auto;
    max-width: 700px;
    text-align: center;
    width: 100%; }
    .content-block.centered p {
      margin: 0; }
  .content-block.centered-sub {
    margin-top: 0 auto;
    max-width: 700px;
    text-align: center;
    width: 100%; }
    .content-block.centered-sub p {
      margin: 0; }
  .content-block.icon-list {
    margin: 0 auto;
    max-width: 900px;
    width: 100%; }
    .content-block.icon-list h2 {
      color: #5F5F5F;
      margin: 0 0 60px 0;
      line-height: 1em; }
    .content-block.icon-list ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;
      width: 200px; }
    .content-block.icon-list .item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px; }
      .content-block.icon-list .item h3 {
        margin-left: 20px;
        text-transform: uppercase; }
  .content-block.work-list {
    margin: 40px auto;
    max-width: 1050px;
    width: 100%; }
    .content-block.work-list h2 {
      color: #5F5F5F;
      margin: 0 0 60px 0;
      line-height: 1em; }
    .content-block.work-list > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 30px;
      row-gap: 25px; }
    .content-block.work-list .item {
      cursor: pointer;
      object-fit: contain;
      position: relative;
      width: 100%; }
      .content-block.work-list .item ul {
        position: absolute;
        top: 20px;
        left: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
        height: 85%; }
        .content-block.work-list .item ul h4,
        .content-block.work-list .item ul h5 {
          color: #FFFFFF;
          margin: 0;
          line-height: 1.2em; }
        .content-block.work-list .item ul li:nth-child(3) {
          bottom: 0;
          position: absolute; }
      .content-block.work-list .item img {
        width: 100%; }
  .content-block.blog-list {
    margin: 0 auto;
    max-width: 900px;
    width: 100%; }
  .content-block.default {
    margin: 0 auto;
    max-width: 1050px;
    width: 100%; }
    .content-block.default .content-block {
      padding: 0; }
  .content-block .circle-photo {
    border-radius: 50%;
    max-width: 300px;
    margin-bottom: 40px;
    overflow: hidden;
    width: 100%; }
  .content-block.general {
    align-items: flex-start; }
    .content-block.general.bio {
      margin-bottom: 40px;
      max-width: unset;
      width: 100%; }
  .content-block .project-id-grid > ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 25px; }
    .content-block .project-id-grid > ul .heading {
      color: #5F5F5F;
      font-size: 1.6em;
      margin: 0; }
    .content-block .project-id-grid > ul .heading:after {
      content: "";
      display: block;
      background-color: #5F5F5F;
      margin: 10px 0;
      height: 2px;
      width: 10px; }
    .content-block .project-id-grid > ul .content {
      font-size: 1.2em;
      margin: 0 0 20px 0;
      max-width: 50%; }
  .content-block .backgrounds-grid > ul {
    list-style: none;
    margin: 0 0 20px 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 25px; }
    .content-block .backgrounds-grid > ul a {
      font-size: 1.4em; }
    .content-block .backgrounds-grid > ul .small {
      font-size: 1.2em; }
  .content-block .backgrounds-grid .item {
    width: 100%; }
    .content-block .backgrounds-grid .item ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .content-block .backgrounds-grid .item ul .bg-image {
        margin-bottom: 10px; }
    .content-block .backgrounds-grid .item img {
      width: 100%; }
      .content-block .backgrounds-grid .item img.icon {
        margin-right: 3px;
        margin-bottom: -1px;
        width: 15px;
        height: 15px; }
  .content-block .backgrounds-grid .item:after {
    content: "";
    display: block;
    background-color: #A6A6A6;
    margin: 10px 0;
    height: 1px;
    width: 100%; }

.cta-banner {
  background-image: url("/user/themes/blog-folio-2021/images/topo_banner.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 100px;
  height: 200px;
  width: 100%; }
  .cta-banner h2 {
    color: #FFFFFF;
    background-color: rgba(235, 207, 207, 0.9);
    text-align: center;
    text-transform: uppercase;
    width: 230px; }

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .social-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 320px;
    width: 100%; }

.footer {
  color: #A6A6A6;
  font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  border-top: 1px solid #E5E5E5;
  margin-top: 40px;
  padding: 0 20px;
  height: 100px;
  width: 100%; }
  .footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 1050px;
    height: 100%; }
    .footer .wrapper a {
      color: #A6A6A6; }

.copyright {
  color: #A6A6A6; }

.hero-block {
  background-image: url("/user/pages/01.home/header_home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  position: relative;
  height: 50vh;
  width: 100%; }
  .hero-block--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100%; }
    .hero-block--logo h1 {
      color: #FFFFFF;
      margin: 0;
      line-height: 1.8em;
      font-size: 4em; }
      .hero-block--logo h1:after {
        display: block;
        content: '';
        background-color: #C64848;
        margin: 0 auto;
        height: 5px;
        width: 150px; }
    .hero-block--logo h2 {
      color: #FFFFFF;
      margin: 0;
      line-height: 1.4em; }
      .hero-block--logo h2.desktop {
        display: none; }
      .hero-block--logo h2.mobile {
        display: block;
        text-align: center;
        margin-top: 20px;
        max-width: 270px; }
    .hero-block--logo img {
      max-width: 100px; }
  .hero-block.sub {
    background-image: url("/user/pages/03.blog/header_sub.jpg");
    height: 100px; }

.work .external-link {
  position: relative;
  font-size: 1.6em; }

.work .external-link:after {
  content: url("/user/themes/blog-folio-2021/images/icon_45-link-arrow.svg");
  position: absolute;
  right: -10px;
  top: -13px;
  height: 8px;
  width: 8px; }

.work .header .wrapper .logo {
  position: absolute;
  top: 30px;
  left: 25px; }

.work--sidebar {
  background-color: #FFFFFF;
  position: relative;
  padding: 20px;
  height: auto;
  width: 100%; }
  .work--sidebar h2,
  .work--sidebar h3,
  .work--sidebar h4 {
    line-height: 1em;
    margin: 10px 0; }
  .work--sidebar h2 {
    color: #070707; }
  .work--sidebar h3 {
    color: #5F5F5F; }
  .work--sidebar h4 {
    margin-top: 40px; }
  .work--sidebar .social-links {
    display: none; }

.work--samples {
  padding: 20px;
  width: 100%; }
  .work--samples h3 {
    margin-bottom: 0; }
  .work--samples ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .work--samples ul li {
      margin: 20px 0; }
  .work--samples img {
    border: 1px solid #E5E5E5;
    width: 100%; }

.blog-list .list-item {
  margin-bottom: 40px; }
  .blog-list .list-item .dt-published {
    color: #5F5F5F;
    font-family: 'Open Sans', sans-serif;
    font-style: normal; }
  .blog-list .list-item .p-name {
    margin: 0; }
  .blog-list .list-item .tags {
    display: block;
    margin: 10px 0; }
    .blog-list .list-item .tags .p-category {
      border-radius: 3px;
      color: #FFFFFF;
      background-color: #C64848;
      font-size: 1em;
      padding: 5px; }
  .blog-list .list-item .p-summary h5 {
    color: #070707;
    margin: 0; }
  .blog-list .list-item .p-summary a {
    color: #C64848;
    display: block;
    font-size: 1.6em;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0; }

.blog-post {
  margin: 0 auto;
  width: 100%; }
  .blog-post--header-image {
    max-height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%; }
    .blog-post--header-image::after {
      position: absolute;
      content: '';
      display: block;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(225deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
      mix-blend-mode: multiply; }
    .blog-post--header-image img {
      filter: brightness(0.9) contrast(2) grayscale(0.4) invert(0.25) sepia(0.4);
      object-fit: cover;
      height: 300px;
      width: 100%; }
  .blog-post--header-info-wrapper {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 900px;
    padding: 0 20px;
    width: 100%;
    z-index: 2; }
    .blog-post--header-info-wrapper .header-info {
      position: absolute;
      bottom: 0; }
      .blog-post--header-info-wrapper .header-info h1 {
        color: #FFFFFF;
        margin: 0 0 20px 0;
        padding-right: 100px;
        line-height: 1em; }
      .blog-post--header-info-wrapper .header-info .dt-published {
        color: #FFFFFF;
        font-family: 'Open Sans', sans-serif;
        font-style: normal; }
      .blog-post--header-info-wrapper .header-info .tags {
        display: block;
        margin: 10px 0; }
        .blog-post--header-info-wrapper .header-info .tags .p-category {
          border-radius: 3px;
          color: #EBCFCF;
          background-color: #C64848;
          font-size: 1.4em;
          padding: 5px; }
  .blog-post--content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 20px 0 20px;
    position: relative;
    max-width: 1150px;
    width: 100%; }
    .blog-post--content-wrapper h2,
    .blog-post--content-wrapper h3,
    .blog-post--content-wrapper h4 {
      margin: 0 auto;
      max-width: 900px;
      width: 100%; }
    .blog-post--content-wrapper h2 {
      color: #070707; }
    .blog-post--content-wrapper p {
      margin: 20px auto;
      max-width: 900px;
      width: 100%; }
    .blog-post--content-wrapper ul,
    .blog-post--content-wrapper ol {
      font-size: 1.6em;
      font-family: 'Open Sans', sans-serif;
      margin: 20px auto;
      max-width: 900px;
      width: 100%; }
    .blog-post--content-wrapper figure.image-caption {
      margin: 60px 0; }
      .blog-post--content-wrapper figure.image-caption figcaption {
        font-size: 1.2em;
        opacity: 1; }
    .blog-post--content-wrapper img {
      max-width: 1150px;
      width: 100%; }

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; }

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.special-full-width {
  background-color: red; }
  .special-full-width img {
    width: 100%; }

.mobile-nav {
  display: block;
  position: absolute;
  right: 30px;
  top: 35px;
  z-index: 100; }
  .mobile-nav #menuToggle {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 101;
    -webkit-user-select: none;
    user-select: none; }
  .mobile-nav #menuToggle input.menuToggle {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 101;
    /* and place it over the hamburger */
    -webkit-touch-callout: none; }
  .mobile-nav #menuToggle span {
    display: block;
    width: 33px;
    height: 2px;
    margin-bottom: 8px;
    position: relative;
    background: #FFFFFF;
    border-radius: 3px;
    z-index: 100;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
  .mobile-nav #menuToggle span:first-child {
    transform-origin: 0% 0%; }
  .mobile-nav #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%; }
  .mobile-nav #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, 1px);
    background: #FFFFFF; }
  .mobile-nav #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2); }
  .mobile-nav #menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px); }
  .mobile-nav #menuToggle input:checked ~ div.links {
    transform: scale(1, 1);
    opacity: 1; }
  .mobile-nav .links {
    position: fixed;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.95);
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    height: 100vh;
    width: 100%;
    z-index: 99; }
    .mobile-nav .links ul.menu {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      /* align-content: center; */
      flex-direction: column;
      justify-content: space-evenly;
      height: 40%;
      width: 100%; }
      .mobile-nav .links ul.menu li {
        list-style: none;
        margin: 0;
        padding: 0; }
    .mobile-nav .links a {
      color: #FFFFFF;
      font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 2.4em; }

@media (min-width: 768px) {
  .header .wrapper .main-nav {
    display: block;
    max-width: 425px;
    width: 100%; }
    .header .wrapper .main-nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0; }
      .header .wrapper .main-nav ul li a {
        color: #FFFFFF;
        font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 2em;
        text-transform: uppercase; }
      .header .wrapper .main-nav ul li.selected:after {
        display: block;
        content: '';
        background-color: #C64848;
        margin: 0 auto;
        height: 2px;
        width: 100%; }
  .header .wrapper .logo {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    filter: #5F5F5F;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
    transition: all 300ms; }
  .header .wrapper .logo:hover {
    filter: none;
    -webkit-filter: grayscale(0%); }
  .blog-header {
    height: 200px; }
  .content-block h1 {
    margin: 40px 0; }
  .content-block.icon-list ul {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%; }
  .content-block.icon-list .item {
    flex-direction: column;
    margin-bottom: 0; }
    .content-block.icon-list .item h3 {
      margin-left: 0; }
  .content-block.work-list {
    margin: 100px auto;
    max-width: 1050px;
    width: 100%; }
    .content-block.work-list h2 {
      color: #5F5F5F;
      margin: 0 0 60px 0;
      line-height: 1em; }
    .content-block.work-list > ul {
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
      row-gap: 25px; }
    .content-block.work-list .item {
      filter: none;
      -webkit-filter: grayscale(0%);
      margin-top: 0;
      transition: all 300ms; }
    .content-block.work-list .item:hover {
      filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
      /* Firefox 3.5+ */
      filter: #5F5F5F;
      /* IE6-9 */
      -webkit-filter: grayscale(100%);
      /* Chrome 19+ & Safari 6+ */
      margin-top: -4px; }
  .content-block .circle-photo {
    max-width: 400px; }
  .content-block.general.half-width {
    margin-bottom: 60px;
    max-width: 900px;
    width: unset; }
  .content-block .project-id-grid > ul {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 25px; }
    .content-block .project-id-grid > ul .heading:after {
      margin: 20px 0; }
    .content-block .project-id-grid > ul .content {
      margin: 0 0 40px 0;
      max-width: 75%; }
  .content-block .backgrounds-grid > ul {
    margin: 0 0 40px 0;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 25px; }
  .content-block .backgrounds-grid .item:after {
    display: none; }
  .cta-banner h2 {
    transition: all 300ms; }
  .cta-banner h2:hover {
    background-color: #C64848; }
  .social-links ul li {
    opacity: 1;
    transition: all 300ms; }
  .social-links ul li:hover {
    opacity: 0.7; }
  .footer {
    margin-top: 100px; }
  .hero-block {
    height: 75vh; }
    .hero-block--logo img {
      max-width: 220px; }
    .hero-block--logo h1 {
      font-size: 5em; }
    .hero-block--logo h2 {
      line-height: 3em; }
      .hero-block--logo h2.desktop {
        display: block; }
      .hero-block--logo h2.mobile {
        display: none; }
    .hero-block.sub {
      height: 75px; }
  .work .external-link {
    transition: all 300ms; }
  .work .external-link:hover {
    color: #EBCFCF; }
  .work .header .wrapper {
    padding-left: 500px; }
    .work .header .wrapper .logo {
      position: fixed;
      top: 40px;
      left: 40px; }
  .work--sidebar {
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.25);
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    padding: 140px 40px 40px 40px;
    height: 100vh;
    width: 450px;
    z-index: 99; }
    .work--sidebar .social-links {
      display: block; }
      .work--sidebar .social-links ul {
        position: absolute;
        bottom: 40px; }
        .work--sidebar .social-links ul a:after {
          content: none; }
  .work--samples {
    padding: 30px 40px 0 500px; }
  .work .footer .wrapper {
    max-width: 1150px;
    justify-content: flex-end; }
    .work .footer .wrapper .copyright {
      margin-right: 20px; }
  .blog-post--header-image {
    max-height: 600px; }
    .blog-post--header-image img {
      height: 600px; }
  .blog-post--header-info-wrapper {
    top: -70px;
    padding: 0; }
  .mobile-nav {
    display: none; } }

@media (min-width: 1140px) {
  .content-block {
    padding: 0; }
    .content-block.work-list {
      margin: 100px auto;
      max-width: 1050px;
      width: 100%; }
      .content-block.work-list h2 {
        color: #5F5F5F;
        margin: 0 0 60px 0;
        line-height: 1em; }
      .content-block.work-list > ul {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        row-gap: 25px; }
  .hero-block {
    height: 90vh; }
    .hero-block--logo h1 {
      font-size: 8em; } }
