
.hero-block {
    background-image: url('/user/pages/01.home/header_home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: relative;
    height: 50vh;
    width: 100%;
    &--logo {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-direction: column;
        height: 100%;
        h1 {
            color: $white;
            margin: 0;
            line-height: 1.8em;
            font-size: 4em;
            &:after {
                display: block;
                content: '';
                background-color: $red;
                margin: 0 auto;
                height: 5px;
                width: 150px;
            }
        }
        h2 {
            color: $white;
            margin: 0;
            line-height: 1.4em;
            &.desktop {
                display: none;
            }
            &.mobile {
                display: block;
                text-align: center;
                margin-top: 20px;
                max-width: 270px;
            }
        }
        img {
            max-width: 100px;
        }
    }
    &.sub {
        background-image: url('/user/pages/03.blog/header_sub.jpg');
        height: 100px;
    }
}