.hero-block {
    height: 75vh;
    &--logo {
        img {
            max-width: 220px;
        }
        h1 {
            font-size: 5em;
        }
        h2 {
            line-height: 3em;
            &.desktop {
                display: block;
            }
            &.mobile {
                display: none;
            }
        }
    }
    &.sub {
        height: 75px;
    }
}