{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e }} | {% endif %}{{ site.title|e }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png')|e }}" />
    <link rel="canonical" href="{{ page.url(true, true)|e }}" />
{% endblock head %}

{% block stylesheets %}
    {% do assets.addCss('https://unpkg.com/purecss@1.0.0/build/pure-min.css', 100) %}
    {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', 99) %}
    {% do assets.addCss('theme://css/custom.css', 98) %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic') %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800') %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Exo+2', 97) %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Open+Sans:300,400', 96) %}
    {% do assets.addCss('https://fonts.googleapis.com/css?family=Abel', 95) %}
{% endblock %}

{% block javascripts %}
    {% do assets.addJs('jquery', 100) %}
{% endblock %}

{% block assets deferred %}
    {{ assets.css()|raw }}
    {{ assets.js()|raw }}
{% endblock %}
</head>
<body id="top" class="{{ page.header.body_classes|e }}">

{% block header %}
    <div class="header">
        <div class="wrapper">
            {% if page.home == True %}
                <a class="logo" href="{{ home_url|e }}">
                    <img src='{{ theme_url }}/images/logo_small_color.svg' style='display: block' alt='{{ site.title }}' />
                </a> 
            {% else %}
                <span></span>
            {% endif %} 
            {% block header_navigation %}
            <nav class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
            <nav class="mobile-nav">
                <div id="menuToggle">
                    <input class="menuToggle" type="checkbox" />
                        <span></span>
                        <span></span>
                        <span></span>
                    <div class="links">
                        <ul class="menu">
                            <li><a href="{{ home_url|e }}">Home</a></li>
                            <li><a href="/work">Work</a></li>
                            <li><a href="/blog">Journal</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </div>
                </div> 
            </nav>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="body">
        {% block content %}{% endblock %}
    </section>
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="wrapper">
            <div class="copyright">© {{ "now"|date("Y") }} W. Scott Cooper</div>
            <a href="/disclaimer">Disclaimer</a>
        </div>
    </div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
