<div class="list-item h-entry">

    {% set header_image = page.header.header_image|defined(true) %}
    {% set header_image_width  = page.header.header_image_width|defined(900) %}
    {% set header_image_height = page.header.header_image_height|defined(300) %}
    {% set header_image_file = page.header.header_image_file %}

    <div class="list-blog-header">
        <span class="list-blog-date">
            <time class="dt-published" datetime="{{ page.date|date("c") }}">
                <span>{{ page.date|date("d") }}</span>
                <span>{{ page.date|date("M") }}</span>
                <span>{{ page.date|date("Y") }}</span>
            </time>
        </span>
        {% if page.header.link %}
            <h2 class="p-name">
                {% if page.header.continue_link is not same as(false) %}
                <a href="{{ page.url }}"><i class="fa fa-angle-double-right u-url"></i></a>
                {% endif %}
                <a href="{{ page.header.link }}" class="u-url">{{ page.title }}</a>
            </h2>
        {% else %}
            <h2 class="p-name"><a href="{{ page.url }}" class="u-url">{{ page.title }}</a></h2>
        {% endif %}

        {% if page.taxonomy.tag %}
        <span class="tags">
            {% for tag in page.taxonomy.tag %}
            <a href="{{ blog.url|rtrim('/') }}/tag{{ config.system.param_sep }}{{ tag }}" class="p-category">{{ tag }}</a>
            {% endfor %}
        </span>
        {% endif %}

    </div>

    <div class="list-blog-padding">

    {% if page.header.continue_link is same as(false) %}
        <div class="content-wrapper">
            {{ page.content|raw }}
        </div>
        {% if not truncate %}
        {% set show_prev_next = true %}
        {% endif %}
    {% elseif truncate and page.subheading != page.content %}
        <div class="p-summary e-content">
            <h5>{{ page.header.subheading|raw }}</h5>
            <span><a href="{{ page.url }}">Continue Reading</a></span>
        </div>
    {% elseif truncate %}
        <div class="p-summary e-content">
            <h5>{{ page.header.subheading|raw }}</h5>
            <span><a href="{{ page.url }}">Continue Reading</a></span>
        </div>
    {% else %}
        <div class="content-wrapper">
            {{ page.content|raw }}
        </div>

        {% set show_prev_next = true %}
    {% endif %}

    {% if show_prev_next %}

        <p class="prev-next">
            {% if not page.isFirst %}
                <a class="button" href="{{ page.nextSibling.url }}"><i class="fa fa-chevron-left"></i> Next Post</a>
            {% endif %}

            {% if not page.isLast %}
                <a class="button" href="{{ page.prevSibling.url }}">Previous Post <i class="fa fa-chevron-right"></i></a>
            {% endif %}
        </p>
    {% endif %}

    </div>
</div>
