.work {
    .external-link {
        position: relative;
        font-size: 1.6em;
    }
    .external-link:after {
        content: url('/user/themes/blog-folio-2021/images/icon_45-link-arrow.svg');
        position: absolute;
        right: -10px;
        top: -13px;
        height: 8px;
        width: 8px;
    }
    .header {
        .wrapper {
            .logo {
                position: absolute;
                top: 30px;
                left: 25px;
            }
        }
    }
    &--sidebar {
        background-color: $white;
        position: relative;
        padding: 20px;
        height: auto;
        width: 100%;
        h2,
        h3,
        h4 {
            line-height: 1em;
            margin: 10px 0;
        }
        h2 {
            color: $black;
        }
        h3 {
            color: $dark-gray;
        }
        h4 {
            margin-top: 40px;
        }
        .social-links {
            display: none;
        }
    }
    &--samples {
        padding: 20px;
        width: 100%;
        h3 {
            margin-bottom: 0;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin: 20px 0;
            }
        }
        img {
            border: 1px solid $light-gray;
            width: 100%;
        }
    }
}