.work {
    .external-link {
        transition: all 300ms;
    }
    .external-link:hover {
        color: $pink;
    }
    .header {
        .wrapper {
            padding-left: 500px;
            .logo {
                position: fixed;
                top: 40px;
                left: 40px;
            }
        }
    }
    &--sidebar {
        box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.25);
        background-color: $white;
        position: fixed;
        top: 0;
        left: 0;
        padding: 140px 40px 40px 40px;
        height: 100vh;
        width: 450px;
        z-index: 99;
        .social-links {
            display: block;
            ul {
                position: absolute;
                bottom: 40px;
                a:after {
                    content: none;
                }
            }
        }
    }
    &--samples {
        padding: 30px 40px 0 500px;
    }
    .footer {
        .wrapper {
            max-width: 1150px;
            justify-content: flex-end;
            .copyright {
                margin-right: 20px;
            }
        }
    }
}