.blog-list {
    .list-item {
        margin-bottom: 40px;
        .dt-published {
            color: $dark-gray;
            font-family: 'Open Sans', sans-serif;
            font-style: normal;
        }
        .p-name {
            margin: 0;
        }
        .tags {
            display: block;
            margin: 10px 0;
            .p-category {
                border-radius: 3px;
                color: $white;
                background-color: $red;
                font-size: 1em;
                padding: 5px;
            }
        }
        .p-summary {
            h5 {
                color: $black;
                margin: 0;
            }
            a {
                color: $red;
                display: block;
                font-size: 1.6em;
                font-family: 'Open Sans', sans-serif;
                margin: 10px 0;
            }
        }
    }
}
.blog-post {
    margin: 0 auto;
    // max-width: 1150px;
    width: 100%;
    &--header-image {
        max-height: 300px;
        overflow: hidden;
        position: relative;
        width: 100%;
        // Filter
        &::after {
            position: absolute; 
            content: ''; 
            display: block; 
            top: 0; 
            left: 0; 
            height: 100%; 
            width: 100%;
            background: linear-gradient(225deg,rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%);
            mix-blend-mode: multiply;
        }
        img {
            // Filter
            filter: brightness(0.9) contrast(2) grayscale(0.4) invert(0.25) sepia(0.4) ;
            object-fit: cover;
            height: 300px;
            width: 100%;
        }
    }
    &--header-info-wrapper {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translate(-50%, 0);
        max-width: 900px;
        padding: 0 20px;
        width: 100%;
        z-index: 2;
        .header-info {
            position: absolute;
            bottom: 0;
            h1 {
                color: $white;
                margin: 0 0 20px 0;
                padding-right: 100px;
                line-height: 1em;
            }
            .dt-published {
                color: $white;;
                font-family: 'Open Sans', sans-serif;
                font-style: normal;
            }
            .tags {
                display: block;
                margin: 10px 0;
                .p-category {
                    border-radius: 3px;
                    color: $pink;
                    background-color: $red;
                    font-size: 1.4em;
                    padding: 5px;
                }
            }
        }
    }
    &--content-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        padding: 40px 20px 0 20px;
        position: relative;
        max-width: 1150px;
        width: 100%;
        h2,
        h3,
        h4 {
            margin: 0 auto;
            max-width: 900px;
            width: 100%;
        }
        h2 {
            color: $black;
        }
        p {
            margin: 20px auto;
            max-width: 900px;
            width: 100%;
        }
        ul,
        ol {
            font-size: 1.6em;
            font-family: 'Open Sans', sans-serif;
            margin: 20px auto;
            max-width: 900px;
            width: 100%;
        }
        figure {
            &.image-caption {
                margin: 60px 0;
                figcaption {
                    font-size: 1.2em;
                    opacity: 1;
                }
            }
        }
        img {
            max-width: 1150px;
            width: 100%;
        }
    }
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.special-full-width {
    background-color: red;
    img {
        width: 100%;
    }
}